aiohttp==3.8.3
aiosignal==1.2.0
asgiref==3.7.2
async-timeout==4.0.2
attrs==22.1.0
autobahn==23.6.2
Automat==22.10.0
cachetools==5.3.1
certifi==2022.9.24
cffi==1.15.1
channels==4.0.0
channels-redis==4.1.0
charset-normalizer==2.1.1
click==8.1.3
constantly==15.1.0
contourpy==1.0.6
cryptography==41.0.3
cycler==0.11.0
daphne==4.0.0
decorator==4.4.2
dill==0.3.5.1
discord.py==2.0.1
Django==4.2.4
django-cors-headers==4.2.0
django-sslserver==0.22
et-xmlfile==1.1.0
Flask==2.2.2
fonttools==4.38.0
frozenlist==1.3.1
google-api-core==2.11.1
google-api-python-client==2.97.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.60.0
httplib2==0.22.0
hyperlink==21.0.0
idna==3.4
imageio==2.22.4
imageio-ffmpeg==0.4.7
incremental==22.10.0
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.4
MarkupSafe==2.1.1
matplotlib==3.6.2
moviepy==1.0.3
msgpack==1.0.5
multidict==6.0.2
mypy==0.991
mypy-extensions==0.4.3
numpy==1.23.5
openai==0.25.0
openpyxl==3.0.10
packaging==22.0
pandas==1.5.2
pandas-stubs==1.5.2.221213
Pillow==9.3.0
proglog==0.1.10
protobuf==4.24.1
py2flowchart==0.0.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pyOpenSSL==23.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.21.0
pytube==12.1.0
pytz==2022.6
redis==5.0.0
requests==2.28.1
rsa==4.9
service-identity==23.1.0
six==1.16.0
sqlparse==0.4.4
tomli==2.0.1
tqdm==4.64.1
Twisted==22.10.0
txaio==23.1.1
types-pytz==2022.6.0.1
typing_extensions==4.4.0
uritemplate==4.1.1
urllib3==1.26.13
Werkzeug==2.2.2
yarl==1.8.1
zope.interface==6.0
